package common

templ StatusBadge(status int32) {
	<span
		class={
			templ.KV("inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium", true),
			templ.KV("bg-green-100 text-green-800", status == 1),
			templ.KV("bg-red-100 text-red-800", status == 2),
		}
	>
		if status == 1 {
			Active
		} else {
			Inactive
		}
	</span>
}
